rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /wishes/{wishId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
